* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: none;
}
body{
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

.header-nav {
    background: rgba(0, 0, 255, 0.378);
    padding: 15px ;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}
.burger{
    display: none;
}

.header-nav-list {
    display: flex;
    gap: 50px;
    font-size: 25px;
    font-weight: 400;
    align-items: center;
}

.header-nav a {
    color: white;
}

.header-nav .container>a {
    font-size: 40px;
    font-weight: 700;
}

.header {
    background: url(../img/1.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-grow: 1;
}

h1 {
    color: darkblue;
    font-size: 50px;
}

h1:hover {
    color: mediumblue;
}

.header-container a {
    background: blue;
    color: white;
    font-size: 30px;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 25px;
    transition: 200ms;
   }

.header-container a:hover {
    cursor: grab;
    transform: scale(1.1);
}

.about {
    background: rgb(100, 148, 237);
    padding: 30px 0 115px;
}

h2 {
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 55px;
}

.about .container {
    display: flex;
    gap: 105px;
    justify-content: center;
    color: aliceblue;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.about-content h3 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.about-content p {
    font-size: 20px;
    text-align: justify;
    max-width: 460px;
    font-weight: 400;
}


.works {
    padding: 45px 0 70px;
    background: dodgerblue;
}

.works-card {
    width: 400px;
    border-radius: 15px;
    background: rgba(14, 102, 216, 0.883);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    text-align: center;
    align-items: center;
    color: aliceblue;
}

.works-card h3 {
    font-size: 30px;
}

.works-card p {
    font-size: 25px;
    width: 265px;
}

.works-card a {
    font-size: 30px;
    color: white;
    font-weight: 700;
    background: #090cc75e;
    border-radius: 10px;
    padding: 10px 25px;
    transition: 200ms;
}

.works-card a:hover {
    cursor: grab;
    transform: scale(1.1);
}
.works-card img{
    border-radius: 10px;
}
.works .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 130px;
}
.footer{
    background: darkblue;
    padding: 15px 0 15px;
}
.footer h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

